In [1]:
import pandas as pd

In [2]:
messages = pd.read_csv("emails.csv")

In [3]:
messages = messages.drop(['Email No.'], axis=1)

In [4]:
col = messages.columns
#print(col)
print(len(col))

3001

In [5]:
#Data cleaning and preprocessing
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
corpus = []

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
drop = []
for i in range(0,len(col)):
    review = re.sub('[^a-zA-Z]', '',col[i])
    
    review = review.lower()
    #review = review.split()
    review = [drop.append(word) for word in review if not word in stopwords.words('english')]
   # review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
   # review = ' '.join(review)
    corpus.append(review)

In [7]:
len(corpus)
#len(set(corpus))

3001

In [8]:
len(set(drop))

18

In [9]:
X = set(drop)

In [10]:
type(corpus)

list

In [11]:
type(X)

set

In [12]:
X = list(X)

In [13]:
for i in range(len(col)):
    if (col[i] in X):
        messages.drop(col[i], axis=1, inplace=True)

In [14]:
len(messages.columns)
print(messages.head())

   the  to  ect  and  for  of    a  you  hou  in  ...  connevey  jay  valued  \
0    0   0    1    0    0   0    2    0    0   0  ...         0    0       0
1    8  13   24    6    6   2  102    1   27  18  ...         0    0       0
2    0   0    1    0    0   0    8    0    0   4  ...         0    0       0
3    0   5   22    0    5   1   51    2   10   1  ...         0    0       0
4    7   6   17    1    5   2   57    0    9   3  ...         0    0       0

   lay  infrastructure  military  allowing  ff  dry  Prediction
0    0               0         0         0   0    0           0
1    0               0         0         0   1    0           0
2    0               0         0         0   0    0           0
3    0               0         0         0   0    0           0
4    0               0         0         0   1    0           0

[5 rows x 2983 columns]

In [15]:
y = messages['Prediction']
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [16]:
x = messages.drop(['Prediction'], axis =1)
x.head()

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0

In [17]:
# Train Test Split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [18]:
X_train.head()

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
3314,0,0,2,4,1,0,26,2,0,5,...,0,0,0,0,0,0,0,0,1,0
4391,14,22,5,19,5,6,157,4,0,44,...,0,0,0,1,1,0,0,0,4,0
4020,2,0,3,1,0,0,7,0,0,1,...,0,0,0,0,0,0,0,0,2,0
3489,0,0,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4165,1,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Training model using Naive bayes classifier

from sklearn.ensemble import RandomForestClassifier
spam_detect_model = RandomForestClassifier().fit(X_train, y_train)

In [20]:
y_pred=spam_detect_model.predict(X_test)

In [24]:
y_pred[:10]

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1], dtype=int64)

In [25]:
y_test[:10]

3324    0
15      0
4950    0
3964    1
2315    0
861     1
2350    0
1767    0
965     0
2630    1
Name: Prediction, dtype: int64

In [26]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9719806763285024

In [27]:
print(accuracy_score(y_pred, y_test))

0.9719806763285024

In [30]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model2 = MultinomialNB().fit(X_train, y_train)

y2_pred=spam_detect_model2.predict(X_test)

In [31]:
print(accuracy_score(y_test, y2_pred))

0.9400966183574879